<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kouvee_mobile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_kouvee_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_kouvee_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!-- MENU -->
        <activity android:name=".View.Activity_HomeAdmin" />
        <activity android:name=".View.Activity_HomeCustomer" />

        <activity android:name=".View.Splash_Atma">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- NOTIFIKASI -->
        <activity
            android:name=".View.Activity_NotifStokProduk"
            android:theme="@style/AppThemeKu"
            android:label="List Produk Hampir Habis" />

        <!-- LOGIN DAN HOME CUSTOMER -->
        <activity
            android:name=".View.Activity_Login" />

        <activity
            android:name=".View.Activity_About_Us" />

        <!-- CUSTOMER -->
        <activity
            android:name=".View.Activity_LihatCustomer"
            android:theme="@style/AppThemeKu" />
        <activity
            android:name=".View.Detail_LihatCustomer"
            android:theme="@style/AppThemeKu" />

        <!-- SUPPLIER -->
        <activity
            android:name=".View.Activity_Supplier"
            android:theme="@style/AppThemeKu" />
        <activity
            android:name=".View.Detail_Supplier"
            android:theme="@style/AppThemeKu" />
        
        <!-- LAYANAN -->
        <activity
            android:name=".View.Activity_LihatLayanan"
            android:theme="@style/AppThemeKu" />
        <activity
            android:name=".View.Detail_LihatLayanan"
            android:theme="@style/AppThemeKu" />

        <!-- JENIS -->
        <activity
            android:name=".View.Activity_JenisHewan"
            android:theme="@style/AppThemeKu" />
        <activity
            android:name=".View.Detail_JenisHewan"
            android:theme="@style/AppThemeKu" />

        <!-- UKURAN -->
        <activity
            android:name=".View.Activity_UkuranHewan"
            android:theme="@style/AppThemeKu" />
        <activity
            android:name=".View.Detail_UkuranHewan"
            android:theme="@style/AppThemeKu" />

        <!-- HEWAN -->
        <activity
            android:name=".View.Activity_DataHewan"
            android:theme="@style/AppThemeKu" />
        <activity
            android:name=".View.Detail_DataHewan"
            android:theme="@style/AppThemeKu" />

        <!-- HEWAN -->
        <activity
            android:name=".View.Activity_Produk"
            android:theme="@style/AppThemeKu" />
        <activity
            android:name=".View.Detail_Produk"
            android:theme="@style/AppThemeKu" />
    </application>


</manifest>